tre/
aws-cli/
.ipynb_checkpoints/*.ipynb
Kramerov_11_WIRR.pdf
Vassetzky_03_G.pdf
cardelli2018.pdf
kramerov2011.pdf

wt-lung*
old_lung*
Old-*/
Young-*/
p53-*/
# DISK is a symlink I use to point to a USB drive
DISK

Ariel.pem
__pycache__/

test-files/merge-merged.fastq

*.fastq.gz
*.fastq.zstd
